*{
      margin: 0px;
    padding: 0px;
    box-sizing: border-box; 

/* for smooth behaviour while scrolling */
    scroll-behavior: smooth;
}


.wrapper{
   height: 100vh;
   width: 100vw;
   overflow-y: auto;
    overflow-x: hidden;
}

/* container center me lane ke liye */
.container{
    width: 1200px;
    margin: 0 auto;

   
}

/* navbar section */
.navbar{
    display: flex;
    justify-content: space-between;
    /* position: fixed; */
    background-color: white;
    width: 100vw;
    z-index: 20;
    margin-top: 0px;
    /* transform: translateX(-15vw); */
}
.nav_logo{
    display: flex;
    justify-content: baseline;
    align-items: center;
}
.logo_content{
    margin-left: -19px;
    margin-top: 20px;
    font-size: 1.3rem;
}
.logo_img i{
    width: 40px;
    margin-top: 20px;
    
    
}
.nav_links{
    display: flex;
    gap: 1rem;
    padding: 0 25vw;
}
.nav_links div{
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
.nav_links div a{
    text-decoration: none;
    color: black;
}

.nav_links div:hover{
    font-style: bold;
    transition: 1s;
}


/* hero section */

.hero-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;

    /* margin: (top and bottom )   (left and right )*/
    margin: 4rem auto;

    padding: 0 1rem;
    padding-bottom: 8rem;
    position: relative;
}

/* fadded text non clickable */
.faded-text{
    position: absolute;
    user-select: none;
    font-size: 7rem;
    color: rgb(182 186 182);
    bottom: -16%;
    left: -5%;
    font-weight: bold;
    


}
.hero-left{
    display: flex;
    flex-direction: column;
    gap: 2rem;
/* justify-content: center; */

}

/* for animation */
.role{
    color: #4e45d5;
    font-weight: 800;
}
.hero-sec-head{
    font-size: 2.6rem;
    font-weight: 500;
}

.hero-desc{
    margin-top: 1rem;
    width: 70%;
    font-weight: 500;
    font-size: 1.2rem;
  

}


/* button section */
.button{
    /* border: 2px solid transparent; */
    color: white;
    background-color: red;
    height: 40px;
    width: 156px;
    font-weight: 500;
    display:flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    position:relative;
    /* box-shadow: 5px 5px 7px rgba(220, 220, 220, 0.632); */

}
.button::before{
    content:"";
    height: 40px;
    width: 156px;
    background-color:white;
    transform: scaleX(0);
    transition: all 0.5s;
    transform-origin: left;
    font-weight: 400;

}
.button:hover::before{
    transform: scaleX(1);
 

    box-shadow: 3px 3px 10px black;
}

.button:hover{
    color: black;
    font-weight: 500;
}


.btn{
    position: absolute;
padding-top: 10px;
    z-index: 2;
}

/* right portion of hereo section */
.hero-right{
    position: relative;
}



 .user-img img{
    height: 352px;
    width: 317px;
}
.absolute{
    position: absolute;
}



/* animation start */
.user-img
{
    padding: 2.5rem;
    filter: grayscale(1);
    /* transition: all 1s; */
    animation: scaleimg 5s linear infinite;
    z-index: -8;
}

@keyframes scaleimg {
    0%{

        transform: scale(1);
        filter: grayscale(1);

    }

    50%{

        transform: scale(1.1
        );
        filter: grayscale(0);
        box-shadow: 3px 3px 10px black;
    }
    100%{
        transform: scale(1);
        filter: grayscale(1);

    }
    
}

.icon-dots{
    z-index: 8;
    bottom: -1rem;
    right: 0;
    animation: dotanim 3s infinite;
}
@keyframes dotanim {
    0%{

transform: translateY(0px);
    }

    50%{
        transform: translateY(-15px);
        
    }
    100%{
        transform: translateY(0px);

    }
    
}

.icon-cube{
    z-index: 8;
    top:0.8em;
 right: 1em;
    animation: cubeanim 3s infinite;
}
@keyframes cubeanim {
    0%{

transform: translateY(0px) rotateY(0deg);
    }

    50%{
        transform: translateY(-19px) rotateY(180deg);
        
    }
    100%{
        transform: translateY(0px) rotateY(360deg);

    }
    
}

.icon-circle{
    z-index: 8;
 left: 0;
 bottom: 0;
    animation:shakeeffect  6s infinite;
}
@keyframes shakeeffect{



    50%{
left: 5%;
  bottom: 10%;

    }
    
}

.icon-zigzag{
    z-index: 8;
 top:1.5em;
 left: 0.3em;
    animation:zigzaganim 5s infinite;
}
@keyframes zigzaganim {



    50%{
     left: 5%;
     top: 2%;

    }
    
}
.icon-plus{
    z-index: 8;
 top:-0.8rem;
 left: 50%;
    animation:plusanim 5s infinite;
}
@keyframes plusanim {
0%{
    transform: translateY(0px);
}


    50%{
     transform: translateY(-19px);

    }
    100%{
        transform: translateY(0px);
    }
    
}

.project-section{
    background-color: rgb(231 231 231);
    width: 100vw;
    margin-top: 5rem;

}

.project-heading{
    font-size: 90px;
    color: red;
    text-align: center;
    padding-top: 30px;
    font-weight: 500;
}

.project-container{
    margin:0 auto;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    gap: 120px;
}

.project-card{
    background-image: url(./images/projects/Project2.png);
    background-size: cover;
    background-position: left;
    width: 90%;
    height: 550px;
    background-repeat: no-repeat;
    position: relative;

    box-shadow: 0px 0px 40px #1f1f1f;
}

.project-card::after{
    content:"";

    /* overlap the project card  */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    /* black tilt in project card */
    background-color:#1f1f1f9a ;
    z-index: 0;
}

.project-card::before{
    content:"";

    /* overlap the project card  */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background:linear-gradient(45deg,#343d68be,#343d687c) ;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.6s;
    z-index: 1;


}

.project-card:hover::before{
    transform: scaleX(1);
}

.projectno{
    position: absolute;
    font-size: 200px;
    color: white;
    z-index: 8;

    /* display: none; */
    opacity: 0;
}

.projectno-right{
    right: -40px;
    top: -45px;


}

.project-card:hover .projectno{
   /* display: block; */
   opacity: 1;
}

.projectno-left{
    left: -40px;
    top: -45px;

}


.project-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 3em;
    color: white;
    bottom: 20%;
    z-index: 5;

}

.project-content-left{
left: 10%;
}

.project-content-right{

    right: 10%;
}

.project-content-skills{
  width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}


.project-content-skills img{
    width: 40px;
}
.project-content-heading{
    font-size: 50px;
    font-weight: 400;

}
.project-content-subhead{
    width: 60%;
    font-size: 16px;
    font-style: italic;
}

.btn-section{
    display: flex;
    flex-direction: row;
 
    align-items: center;
    gap: 0.9rem;
  
}

.btn-section a .icons{
    margin-bottom: 42px;
}



.project-card:hover .project-content{
    transform: scale(1.1);
    transition: all 1s;
}

#card1{
background-image: url(./images/projects/studynotion.png);
margin-right: 120px;

}

#card2{
    background-image: url(./images/projects/razorpay.png);
    margin-left: 120px;
}
#card3{
    background-image: url(./images/projects/password.png); 
    margin-right:120px ;
}
#card4{
    background-image: url(./images/projects/weather.png);
    margin-left: 120px;
}



/* skills section */

.skills-stack{
   
    position: relative;
    padding:5rem;
    margin: 10rem auto;
    gap: 30px;
    display: flex;
    flex-direction: row;
   
}


.skill-stack-faddedtext{
    user-select: none;
position: absolute;
bottom:-34.5%;
right:-15% ;
font-size:15em;
/* font-size: 140px; */
font-weight: 100;
color:  rgb(182 186 182);


}


.skill-stack-left{
    width: 50%;
}

.skill-stack-heading{
    font-size: 50px;
    color: red;
    font-style: bold;

}


.skill-stack-heading span{
    font-size:90px;
}

.skill-stack-subhead{
    width: 85%;

    /* right end se sare lines ek sath ayee */
    text-align: justify;
    margin-top: 1rem;
}


.skill-stack-subhead p{
 margin: 15px 0;
}


.skill-stack-right{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
gap: 2rem;
position: relative;
justify-content: center;
}


.skill-img{
    width: 90px;
    transition: all 0.5s;
    
}
.skill-img:hover{
    transform: scale(1.2);
}

.blob-style{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -3;
    animation: blobanim 3s linear infinite;
    transform: translate(-50%,-50%);
} 

@keyframes blobanim {
    50%{
        top: 54%;
        left: 46%;
    }
    
}


.contact-section{
    width: 100vw;
    background-color: rgb(231 231 231);
    margin-top: 202px;
}
.contact-heading{

    font-size: 5em;
    font-style: bold;
    color: red;
    padding-left: 40px;
    padding-top: 2rem;
    margin-left: 8vw;

}


.contact-subheading{

    font-size: 3em;
    font-style: bold;
    color:#343668aa;
    padding-left: 40px;
    text-transform: capitalize;
    margin-left: 8vw;
    margin-bottom: 20px;

}

.form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    margin-bottom: 2rem;
}

.formfield{
    padding: 0 2rem;
    font-size: 18px;
    width: 100%;
    height: 42px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #1f1f1f;
    border: none;
}

.formfield-textarea{
    height: auto;
    padding: 1rem;
    resize: none;
}

.button{

    margin-bottom: 40px;
    transition: all 0.6s;
 

}
.button .btn{
    font-size: 17px;
    font-weight: 300;

    margin-bottom: 15px;
    padding-left: 10px;
}

.button .btn .icons{
   
    margin-left: 12px;
    padding-right: 8px;
}

.button:hover .btn .icons{
    color: black;
   
}

#contact-btn:hover{
    scale: 0.9;
}
.footer-section{
    width: 100vw;
    position: relative;
    background-color:#4e45d5;
    /* height: 120px; */
    margin-top: -1px;
    padding: 5rem;
  
   
    
}
.footer-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
    padding: 1.2rem;


}
.footer-faddedtext{
    position: absolute;
    user-select: none;
color: rgb(231 231 231);
font-size: 3.3em;
bottom: 0px;
left: 0px;

}

.footer-left{
    display: flex;
    flex-direction: row;
    gap: 10px;

}

.footer-right{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.footer-left a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}


 
.icons{
    font-size: 24px;
    color:white;
}

.icons:hover,.footer-left a:hover{
    color: red;
}


/* 
phone device */

@media(max-width: 925px){
    html{
        font-size: 12px;
    }

    .container{
        width: 658px;
        margin: 0 auto;
        
}

    .hero-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
  
       
        margin: 4rem auto;
    
        padding: 0 1rem;
        padding-bottom: 8rem;
        position: relative;
    }

    

.hero-sec-head {
    font-size: 1.8rem;
    font-weight: 500;
}
    
    .nav_links div{
        font-size: 15px;
    }

    .nav_links{
      position: relative;
      right: 339px;

    
    }

    .hero-right{
        position:relative;
       bottom: 323px;
       
        margin-right: 304px;
    }

    .hero-left{
        position: relative;
        top: 560px;
        left: -34px;
    }

    .faded-text{
        font-size: 2.5rem;
        bottom: -74px;
        left: 0px;

    }
    .footer-left {
        display: flex;
        flex-direction: row;
        gap: 12px;
        float: right;
    }
    

        .skills-stack{
            display: flex;
            flex-direction: column;
        }

        .skill-stack-faddedtext{
            font-size:8em ;
            bottom:-11.5% ;
            right:44% ;
        }

        .button .btn{
            font-size: 11px;
         
            margin-bottom: 19px;
            padding-left: 10px
        }
        .icons{
            font-size: 15px;
        }

.footer-faddedtext{ font-size: 3em;
    bottom: 33px;
    left: 7px;}

    .footer-section{
        height: 222px;
    }
       
    .footer-right{
        position:relative;
        right: 342px;
    }

    .project-card:hover .project-content{
        transform: scale(1.06);
        transition: all 1s;
    }


} 


@media (max-width:776px) {
    .nav_links{
        display: flex;
        position: relative;
        right:30px;
        bottom: 0px;
        gap: 1rem;
        padding: 0 1vw;
    }
    .nav_links div{
        font-size: 20px;
        font-weight: 500;
        cursor: pointer;
    }

    .contact-heading{
        left: -15px;
    }
    .user-img
    {
        padding: 2.4rem;
        filter: grayscale(1);
        /* transition: all 1s; */
        animation: scaleimg 5s linear infinite;
        z-index: -8;
        position: relative;
        left: 80px;
        top: 20px;
    }
    .projectno-left, .projectno-right{
        font-size: 120px;
    }
    .projectno-left{
        left: -15px;
    }
    .projectno-right{
        right: -15px;
    }
    @keyframes scaleimg {
        0%{
    
            transform: scale(1);
            filter: grayscale(1);
    
        }
    
        50%{
    
            transform: scale(1.1
            );
            filter: grayscale(0);
            box-shadow: 3px 3px 10px black;
        }
        100%{
            transform: scale(1);
            filter: grayscale(1);
    
        }
        
    }
    
    .icon-dots{
        z-index: 8;
        bottom: -5rem;
        right: 0;
        animation: dotanim 3s infinite;
    }
.skills-stack{
    padding: 1rem;
    border: 1px solid red;
}
    
    .icon-cube{
        z-index: 8;
        top:0.7em;
     right: 1em;
        animation: cubeanim 3s infinite;
    }

    
    .icon-circle{
        z-index: 8;
        position:absolute;
     left: 10;
     bottom: 0;
        animation:shakeeffect  6s infinite;
    }
    @keyframes shakeeffect{
    
    
    
        50%{
    left: 18%;
      bottom: 10%;
    
        }
        
    }
    
    .icon-zigzag{
        z-index: 8;
     top:1.5em;
     left: 0.8em;
        animation:zigzaganim 5s infinite;
    }
    @keyframes zigzaganim {
    
    
    
        50%{
         left: 15%;
         top: 2%;
    
        }
        
    }
    .icon-plus{
        z-index: 8;
     top:-0.4rem;
     left: 50%;
        animation:plusanim 5s infinite;
    }
    @keyframes plusanim {
    0%{
        transform: translateY(0px);
    }
    
    
        50%{
         transform: translateY(-22px);
    
        }
        100%{
            transform: translateY(0px);
        }
        
    }

    #card1{
    
        margin-right: 35px;
        }
        
        #card2{
           
            margin-left: 35px;
        }
        #card3{
     
            margin-right:35px ;
        }
        #card4{
        
            margin-left: 35px;
        }

        .project-content-skills{
            width: 90%;
            gap: 1px;
        }

        .project-content-heading{
            font-size: 34px;
        }
        
        .project-content-subhead{
            font-size: 11px;
            width: 99%;
        }

        .project-content{
            gap:0rem ;
            padding:0em ;
            bottom:-13% ;
            position: absolute;
        }


        .project-content-skills img{
            width: 29px;
        }
        .button{
            width:110px ;
            height:31px ;
        }
        .skill-stack-subhead {
            width: 121%;
            text-align: justify;
            margin-top: 1rem;
            font-size: 20px;
        }
        .skill-stack-heading {
            font-size: 44px;
            color: red;
            font-style: bold;
        }

        .faded-text {
            font-size: 3.5rem;
            bottom: -66px;
            left: 5px;
        }

        .skill-stack-faddedtext {
            font-size: 6em;
            bottom: -12.8%;
            right: 27%;
        }

        .contact-subheading {
            font-size: 2em;
            font-style: bold;
            width: 80vw;
            color: #343668aa;
            padding-left: 10px;
            text-transform: capitalize;
        }

        .logo_content {
            margin-left: -25px;
            margin-top: 20px;
            font-size: 2.3rem;
        }

        .fa-2xl {
            font-size: 5em;
            position: relative;
            top:4px;

            line-height: .03125em;
            vertical-align: -.1875em;
        }

        .footer-faddedtext {
            font-size: 3em;
            bottom: 6px;
            left: 3px;
        }

        .blob-style{
 
          visibility: hidden;
          
        } 
    .hero-left{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        position: relative;
        left: 25px;
    /* justify-content: center; */
    
    }
    .contact-heading{
        padding-left: 0;
    }
    /* for animation */
    .role{
        color: #4e45d5;
        font-weight: 800;
    }
    .hero-sec-head{
        font-size: 2.6rem;
        font-weight: 500;
    }
    
    .hero-desc{
        margin-top: 1rem;
        width: 70%;
        font-weight: 500;
        font-size: 1.4rem;
        text-align: justify;
      
    
    }
    
    
    /* button section */
    .button{
        /* border: 2px solid transparent; */
        color: white;
        background-color: red;
        height: 40px;
        width: 156px;
        font-weight: 500;
        display:flex;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        position:relative;
        /* box-shadow: 5px 5px 7px rgba(220, 220, 220, 0.632); */
    
    }
    .page-heading {
      padding-top: 30px;
      color: var(--bgOrange);
      text-align: center;
      font-size: 40px;
    }
    .project-container {
      padding: 5px;
      margin: 10px;
      gap: 60px;
    }
    .project-card{
        width: 51%;
        height:180px ;
    }
    .project-card {
      background-size: cover;
      background-position: center;
    }
    .project-content {
      scale: 0.5;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
    }
    .project-content-left {
      left: 0;
    }
    .project-content-heading {
      font-size: 40px;
      width: 100%;
    }
    .project-content-sub-head {
      width: 100%;
    }
    #card2 {
      margin-left: 0;
    }
    #card4 {
      margin-left: 0;
    }
    .project-content-skills {
      width: 100%;
    }

    .project-content-skills img{
        width: 35px;
    }


  
    .project-card:hover .project-no {
      display: none;
    }
    .project-card:hover .project-content {
      scale: 0.55;
    }
  }




  @media (max-width:400px) {
 
    .hero-right {
        position: relative;
        bottom: 381px;
        margin-right: 414px;
    }

    .icon-zigzag {
        z-index: 8;
        top: 1.5em;
        left: 3.8em;
        animation: zigzaganim 5s infinite;
    }

    @keyframes zigzaganim{
    50% {
        left: 10;
        top: 2%;
    }
}

.icon-circle {
    z-index: 8;
    position: absolute;
    left: 90px;
    bottom: 0;
    animation: shakeeffect 6s infinite;
}

.hero-sec-head {
    font-size: 1.9rem;
    font-weight: 500;
}

.hero-desc {
    margin-top: 1rem;
    width: 41%;
    font-weight: 500;
    font-size: 1.4rem;
    text-align: justify;
}

.faded-text {
    font-size: 2.5rem;
    bottom: -66px;
    left: 5px;
}

.project-heading {
    font-size: 75px;
    color: red;
    text-align: center;
    padding-top: 55px;
    font-weight: 500;
    position: relative;
    top: -58px;
    left: -9px;
}

.project-container {
   
    gap: 60px;
}

.skill-stack-subhead {
    width: 110%;
    text-align: justify;
    margin-top: 1rem;
    font-size: 16px;
}

.skill-stack-faddedtext {
    font-size: 6em;
    bottom: -12.8%;
    right: 50%;
}




.formfield {
   width: 89%;
}
.footer-left {
    display: flex;
    flex-direction: row;
    gap: 12px;
    float: right;
    left: -69px;
    position: relative;
    font-size: 16px;
}

.footer-right {
    position: relative;
    right: 383px;
}

.footer-faddedtext {
    
    bottom: -5px;
    
}

.logo_content {
    margin-left: -25px;
    margin-top: 54px;
    font-size: 2.3rem;
    display: flex;
}
  }

  /*=============================== skillsTech =====================================*/
.skillsTech{
    position: relative;
    padding-inline: 10vw;
    padding-block: 5vh;
}
.skillsTech h1{
    font-size: 5rem;
    color: red;
    margin-left: 10px;
}
.skills{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}
.skill-Desc{
    width: 50%;
    padding-inline: 2vw;
}
.skill-Desc img{
    margin-inline: 20px;

}
.skill-Desc p{
    font-size: 20px;
    margin-bottom: 10px;
}
.skillsTech h2{
    position: absolute;
    bottom: -80px;
    right: 50px;
    font-size: 8rem;
    color: #737373;
}
@media(max-width: 767px){
    .skillsTech{
        padding-inline: 5vw;
        padding-block: 3vh;
    }
    .skills{
        flex-direction: column;
    }
    .skill-Desc{
        width: 100%;
    }
    .skill-Desc img{
        margin-inline: 5px;
        margin-bottom: 10px;
    
    }
    .skillsTech h2{
       
        bottom: -50px;
        right: 30px;
        font-size: 6rem;
        
    }
    .contact-form{
        width: 100%;
        margin-inline: 1.25vw;
    }
    
}
  
/* ======================== Contact ========================  */
.contact-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-form{
    width: 70%;
}